#dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

#testing
/coverage

#nextjs
/.next/
/out/

#production
/build

#misc
.DS_Store
*.pem

#env
.env*

#vercel
.vercel

#typescript
*.tsbuildifo
next-env.d.ts